<div class="row text-center">
  <div class="col-sm">
    <img src="img/Mojito.jpg" alt="..." class="img-thumbnail">
    <h3>Mojito</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="col-sm">
    <img src="img/margarita.jpg" alt="..." class="img-thumbnail">
    <h3>Margarita</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="col-sm">
    <img src="img/Blackrussian.jpg" alt="..." class="img-thumbnail">
    <h3>Black Russian</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
</div>
