<!--Head block including title, metadata and references -->

<!--********METADATA********-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<!--********TITLE********-->
<title>Mixer</title>

<!--********STLESHEET REFERENCES********-->

<!--**Font references**-->
<link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<!--**Bootstrap css references**-->
<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--**Stylesheet css references**-->
<link href="stylesheets/style.css" rel="stylesheet">

<!--********JAVASCRIPT REFERENCES********-->
