<!-- Header that includes navigation bar -->
  <div class="button_container" id="toggle">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
  </div>

  <div class="overlay" id="overlay">
    <nav class="overlay-menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/myCocktails">My Cocktails</a></li>
        <li><a href="/topCocktails">Top Cocktails</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <span class="login"><a href="#">Login</a></span>
      <span class="signup"><a href="#">Signup</a></span>
    </nav>
  </div>
