
<!-- ======Head block including title, metadata and references====== -->

  <!--********METADATA********-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!--********TITLE********-->
  <title>Mixer</title>

  <!--********STYLESHEET REFERENCES********-->

  <!--**Font references**-->
  <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <!--**Bootstrap css references**-->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--**Stylesheet css references**-->
  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="stylesheets/fontawesome-all.min.css" rel="stylesheet">
  <link href="stylesheets/animate.css" rel="stylesheet">



  <!--********UNIVERSAL JAVASCRIPT REFERENCES********-->

  <!--**JQuery Script reference*-->
  <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  !**Boostrap Javascript reference**
  <script src="js/bootstrap.min.js"></script>
  !**Website Javascript reference**
  <script src="js/main.js"></script> -->

<!-- ======End of Head block====== -->
