<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

<!-- Website
================================================== -->

<body>

  <!--///////////////////////////////////
              Page Logo
  /////////////////////////////////// ---->
  <% include ../partials/logo %>

  <!--///////////////////////////////////
          Navigation  Bar
  /////////////////////////////////// ---->
<section class="nav-container">
  <% include ../partials/header %>
</section>

<!--///////////////////////////////////
        Contact Form Text
/////////////////////////////////// ---->

<main class="contact-page col-md-12">
  <section class="contact-box">
    <h2>Contact Us</h2>

<!--///////////////////////////////////
        Contact Form Template
/////////////////////////////////// ---->
  <form action="/docontact" method="POST">
      <aside class="form-group row contact-focus">
        <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Name</label>

          <input type="email" class="" placeholder="">
      </aside>
      <aside class="form-group row contact-focus">
        <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Email</label>

          <input type="text" class="" placeholder="">
      </aside>
      <aside class="form-group row contact-focus">
        <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Subject</label>

          <input type="text" class="" placeholder="">
      </aside>
      <aside class="form-group row contact-focus">
        <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Message</label>

          <input type="text" class=" " placeholder="">
          <input type="text" class="offset-4" placeholder="">
          <input type="text" class="offset-4" placeholder="">
          <input type="text" class="offset-4" placeholder="">
      </aside>
      <button id="submit" class="contact-button" type="submit">Submit</button>
      <h3 id="message"><%= typeof message!='undefined' ? message : '' %></h3>
  </form>
</section>
</main>

<% include ../partials/footer %>

</body>
</html>
