<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <!-- Website
  ================================================== -->

  <body>

  <% include ../partials/logo %>

<div class="nav-container">
  <% include ../partials/header %>
</div>


<div class="container homepage-block">
  <div class="homepage-form">
    <div class="row search">
      <div class="col-centered page-title">
        <form>
          <div>
            <input type="email" class="form-control" id="email" placeholder="Add Ingredient...">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <button class="recipe-ingredient" type="button" name="button">Vodka</button>
    </div>
  </div>
  <div class="homepage-cocktails">
    <div class="border-container">
    <div class="row text-center">
      <div class="col-sm">
        <img src="img/Mojito.jpg" alt="..." class="img-thumbnail">
        <h3>Mojito</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-sm">
        <img src="img/margarita.jpg" alt="..." class="img-thumbnail">
        <h3>Margarita</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-sm">
        <img src="img/Blackrussian.jpg" alt="..." class="img-thumbnail">
        <h3>Black Russian</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <%- include("../partials/cocktailbox",{name1:"Mojito",name2:"Margarita",name3:"Black Russian"}) %>
  </div>
</div>

<% include ../partials/footer %>

  </body>
</html>
