<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <!-- Website
  ================================================== -->

<body>

  <!--///////////////////////////////////
            Page Logo
  /////////////////////////////////// ---->
  <% include ../partials/logo %>

<!--///////////////////////////////////
          Navigation  Bar
/////////////////////////////////// ---->
<section class="nav-container">
  <% include ../partials/header %>
</section>

<!--///////////////////////////////////
        Main Page Search
/////////////////////////////////// ---->
<section class="image-overlay">
  <p>Added To Your Cocktails!</p>
</section>

<main class="container homepage-block">
  <section class="homepage-form">
    <content class="row search">
      <article class="col-centered page-title">
        <form>
          <div class="dropdown">
            <input type="text"  class="form-control" placeholder="Add Ingredient..." id="search-bar">
            <div id="myDropdown" class="dropdown-content">
            </div>
          </div>
        </form>
      </article>
    </section>
    <div id="button-container" class="row">
      <!-- <button class="recipe-ingredient" type="button" name="button">Vodka</button> -->
    </div>
  </content>

  <!--///////////////////////////////////
        Main Page Content Container
  /////////////////////////////////// ---->

  <section class="homepage-cocktails">
  <aside id="bordercontainer" class="border-container">
    <!-- ******Box partials go in here****** -->

  </aside>
</section>
</main>

<!--///////////////////////////////////
      Footer partial (JavaScript)
/////////////////////////////////// ---->

<% include ../partials/footer %>

<!--index.js only relevant to this page-->
<script src="js/home.js"></script>


</body>
</html>
