<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <!-- Website
  ================================================== -->

<body>

  <% include ../partials/logo %>

<div class="nav-container">
  <% include ../partials/header %>
</div>


<div class="container homepage-block">
  <div class="homepage-form">
    <div class="row search">
      <div class="col-centered page-title">
        <form>
          <div>
            <input type="email" class="form-control" id="email" placeholder="Add Ingredient...">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <button class="recipe-ingredient" type="button" name="button">Vodka</button>
    </div>
  </div>
  <div class="homepage-cocktails">
  <div id="bordercontainer" class="border-container">
    <!-- ******Box partials go in here****** -->
    <%- include("../partials/cocktailbox",{name1:"MojitoTest1",name2:"MargaritaTest1",name3:"Black RussianTest1"}) %>;
  </div>
  </div>
</div>

<% include ../partials/footer %>

<!--index.js only relevant to this page-->
<script src="js/home.js"></script>

  </body>
</html>
