<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <!-- Website
  ================================================== -->

  <body>

  <% include ../partials/logo %>

<div class="nav-container">
  <% include ../partials/header %>
</div>


<div class="login-page col-md-12">
  <div class="login-box">
    <h2>Login</h2>
  <form id="loginform" action="/dologin" method="POST">
      <div class="form-group row login-focus">
        <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Username</label>

          <input id="inputUsername" type="text" class="" name="username" placeholder="Enter Username...">
      </div>
      <div class="form-group row login-focus">
        <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Password</label>

          <input id="inputPassword" type="password" class="" name="password" placeholder="Enter Password...">
      </div>

      <button class="login-button" type="submit">Login</button>
      <h3 id="#Message"><%= message %></h3>
  </form>
</div>
</div>

<% include ../partials/footer %>

  </body>
</html>
