<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <!-- Website
  ================================================== -->

  <body>

  <% include ../partials/logo %>


<div class="nav-container">
  <% include ../partials/header %>
</div>


  <div class="col-sm-12 text-center cocktail-text">
    <h2>My Cocktails: <%= user.login.username %></h2>
  </div> 

<div class="myCocktails">
    <div>
    <div class="row text-center">
      <!-- Dynamically generated elements will go here -->

      <div class="col-sm myCocktailBackground">
        <img src="img/adam&eve.jpg" alt="..." class="img-thumbnail">
        <h3>Adam & Eve</h3>
        <p>Shake together all the ingredients and strain into a cold glass.</p>
      </div>
      <div class="col-sm myCocktailBackground">
        <img src="img/alexander.jpg" alt="..." class="img-thumbnail">
        <h3>Alexander</h3>
        <p>Shake all ingredients with ice and strain contents into a cocktail glass. Sprinkle nutmeg on top and serve.</p>
      </div>
      <div class="col-sm myCocktailBackground">
        <img src="img/whiskymac.jpg" alt="..." class="img-thumbnail">
        <h3>Whisky Mac</h3>
        <p>Pour both of the ingredients into a wine goblet with no ice.</p>
      </div>
      <div class="col-sm myCocktailBackground">
        <img src="img/rustynail.jpg" alt="..." class="img-thumbnail">
        <h3>Rusty Nail</h3>
        <p>Pour the Scotch and Drambuie into an old-fashioned glass almost filled with ice cubes. Stir well. Garnish with the lemon twist.</p>
      </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>

<!--myCocktails.js only relevant to this page-->
<!-- <script src="js/myCocktails.js"></script> -->


  </body>
</html>

<!-- <div class="col-sm myCocktailBackground">
  <img src="img/Mojito.jpg" alt="..." class="img-thumbnail">
  <h3>Mojito</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="col-sm myCocktailBackground">
  <img src="img/margarita.jpg" alt="..." class="img-thumbnail">
  <h3>Margarita</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="col-sm myCocktailBackground">
  <img src="img/Blackrussian.jpg" alt="..." class="img-thumbnail">
  <h3>Black Russian</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="col-sm myCocktailBackground">
  <img src="img/Blackrussian.jpg" alt="..." class="img-thumbnail">
  <h3>Black Russian</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
</div>
<div class="row text-center">
  <div class="col-sm myCocktailBackground">
    <img src="img/Mojito.jpg" alt="..." class="img-thumbnail">
    <h3>Mojito</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="col-sm myCocktailBackground">
    <img src="img/margarita.jpg" alt="..." class="img-thumbnail">
    <h3>Margarita</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="col-sm myCocktailBackground">
    <img src="img/Blackrussian.jpg" alt="..." class="img-thumbnail">
    <h3>Black Russian</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="col-sm myCocktailBackground">
    <img src="img/Blackrussian.jpg" alt="..." class="img-thumbnail">
    <h3>Black Russian</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div> -->
