<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <!-- Website
  ================================================== -->

<body>

<!--///////////////////////////////////
          Page Logo
/////////////////////////////////// ---->
<% include ../partials/logo %>

<!--///////////////////////////////////
        Navigation  Bar
/////////////////////////////////// ---->
<section class="nav-container">
  <% include ../partials/header %>
</section>

<!--///////////////////////////////////
      MyAccount Container & Text
/////////////////////////////////// ---->

<main class="contact-page col-md-12">
  <section class="contact-box">
  <h2>Your Account!</h2>

  <!--///////////////////////////////////
        MyAccount Template & Inputs
  /////////////////////////////////// ---->
  <form id="myAccountForm">
      <aside class="form-group row contact-focus account-page">
        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Name</label>

          <input id="inputName" type="name" class="" placeholder="Enter Name" required>


      </aside>
      <aside class="form-group row contact-focus account-page">
        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Email</label>

          <input id="inputEmail" type="email" class="" placeholder="Example@gmail.com" required>

      </aside>
      <aside class="form-group row contact-focus account-page">
        <label for="field" class="col-sm-5 col-form-label col-form-label-sm">Change Password</label>

          <input id="inputPassword" type="password" class="password" placeholder="Enter Password" required>

      </aside>
      <aside class="form-group row contact-focus account-page">
        <label for="field" class="col-sm-5 col-form-label col-form-label-sm">Confirm Password</label>

        <input id="inputConPassword" type="password" class="password" placeholder="Confirm Password" required>

      </aside>
      <input class="submit" type="submit" value="Save Changes">
   </form>
 </section>
</main>




<% include ../partials/footer %>

<!--myCocktails.js only relevant to this page-->
<script src="js/profile.js"></script>


</body>
</html>
