<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <!-- Website
  ================================================== -->

  <body>

  <% include ../partials/logo %>

<div class="nav-container">
  <% include ../partials/header %>
</div>

<div class="contact-page col-md-12">
  <div class="contact-box">
    <h2>Your Account!</h2>
  <form id="myAccountForm">
      <div class="form-group row contact-focus account-page">
        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Name</label>

          <input type="name" class="" placeholder="Enter Name" required>


      </div>
      <div class="form-group row contact-focus account-page">
        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Email</label>

          <input type="email" class="" placeholder="Example@gmail.com" required>

      </div>
      <div class="form-group row contact-focus account-page">
        <label for="field" class="col-sm-5 col-form-label col-form-label-sm">Change Password</label>

          <input type="password" class="password" placeholder="Enter Password" required>

      </div>
      <div class="form-group row contact-focus account-page">
        <label for="field" class="col-sm-5 col-form-label col-form-label-sm">Confirm Password</label>

        <input type="password" class="password" placeholder="Confirm Password" required>

      </div>
      <input class="submit" type="submit" value="Save Changes">
   </form>
  </div>
</div>




    <!-- JavaScript
    ================================================== -->
    <script  src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>


  </body>
</html>
