<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <!-- Website
  ================================================== -->

  <body>

    <!--///////////////////////////////////
                Page Logo
    /////////////////////////////////// ---->
  <% include ../partials/logo %>

  <!--///////////////////////////////////
          Navigation  Bar
  /////////////////////////////////// ---->
<div class="nav-container">
  <% include ../partials/header %>
</div>

<!--///////////////////////////////////
        Signup Form Container & Text
/////////////////////////////////// ---->
<div class="signup-page col-md-12">
  <div class="signup-box">
    <h2>Signup</h2>

    <!--///////////////////////////////////
            Signup Form Template
    /////////////////////////////////// ---->

      <!-- Sign up form -->
  <form action="/adduser" method="POST">

    <!-- Username Field -->
      <div class="form-group row signup-focus">
        <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Username</label>

          <input type="text" class="" name="username" placeholder="Enter Username...">
      </div>

    <!-- Email Field -->
      <div class="form-group row signup-focus">
        <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">E-mail</label>

          <input type="email" class="" name="email" placeholder="Enter E-mail...">
      </div>

    <!-- Password Field -->
      <div class="form-group row signup-focus">
        <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Password</label>

          <input type="password" class="" name="password" placeholder="Enter Password...">
      </div>

    <!-- Password Confirm Field -->
      <div class="form-group row signup-focus">
        <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Confirm Password</label>

          <input type="password" class="" name="confirmPassword" placeholder="Enter Password...">
      </div>

      <button class="signup-button" type="submit">Submit</button>
      <!-- Message box takes message from server route -->
      <h3 id="message"><%= typeof message!='undefined' ? message : '' %></h3>
      </div>
  </form>
</div>
</div>

<!--///////////////////////////////////
      Footer partial (JavaScript)
/////////////////////////////////// ---->

<% include ../partials/footer %>

  </body>
</html>
