<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <!-- Website
  ================================================== -->

<body>

  <!--///////////////////////////////////
            Page Logo
  /////////////////////////////////// ---->
  <% include ../partials/logo %>

  <!--///////////////////////////////////
        Navigation  Bar
  /////////////////////////////////// ---->
  <section class="nav-container">
    <% include ../partials/header %>
  </section>

  <!--///////////////////////////////////
      Page Main Text
  /////////////////////////////////// ---->

  <section class="col-sm-12 text-center page-title">
    <h2>Our Top Cocktails</h2>
    <p>We only pick the best, take a further look into these recipes!</p>
  </section>

  <!--///////////////////////////////////
        Page's Cocktail Template
  /////////////////////////////////// ---->

  <main class="myCocktails">
    <div class="row text-center">
      <section class="col-sm myCocktailBackground">
        <img id="cocktailImg1" src="" alt="..." class="img-thumbnail">
        <h3 id="cocktailName1" ></h3>
        <p id="cocktailDesc1" ></p>
      </section>
      <section class="col-sm myCocktailBackground">
        <img id="cocktailImg2" src="" alt="..." class="img-thumbnail">
        <h3 id="cocktailName2" ></h3>
        <p  id="cocktailDesc2" ></p>
      </section>
      <section class="col-sm myCocktailBackground">
        <img id="cocktailImg3" src="" alt="..." class="img-thumbnail">
        <h3 id="cocktailName3" ></h3>
        <p  id="cocktailDesc3" ></p>
      </section>
      <section class="col-sm myCocktailBackground">
        <img id="cocktailImg4" src="" alt="..." class="img-thumbnail">
        <h3 id="cocktailName4" ></h3>
        <p  id="cocktailDesc4" ></p>
      </section>
    </div>
  </main>

  <!--///////////////////////////////////
        Footer partial (JavaScript)
  /////////////////////////////////// ---->

<% include ../partials/footer %>

<!--topCocktail.js only relevant to this page-->
<script src="js/topcocktails.js"></script>

  </body>
</html>
