
/********************
       General
*********************/

body {
  background-color: #ffcccc;
}

.page-title {
  color: #fff;
  margin-bottom: 40px;
}

/* font-family: 'Raleway', sans-serif; */
.logo img {
  max-width: 100%;
  height: 120px;
  display: block;
  margin: 50px auto;
}

h2, p {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1300px !important;
}


/********************
       Navbar
*********************/


.nav-container {
  z-index: 100;
}

.button_container {
  position: fixed;
  top: 5%;
  left: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 0.7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.button_container.active .middle {
  opacity: 0;
  background: #fff;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.button_container span {
  background: #fff;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #ffcccc;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
  z-index: 10;
}

.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after,
.login a:hover:after,
.login a:focus:after,
.login a:active:after,
.signup a:hover:after,
.signup a:focus:after,
.signup a:active:after{
  width: 100%;
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}

.login {
  position: absolute;
  left: 5%;
  bottom: 2%;
}

.signup {
  position: absolute;
  right: 5%;
  bottom: 2%;
}

.login a:after,
.signup a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}

.login a,
.signup a {
  color: #fff;
  text-decoration: none;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/********************
      Homepage
*********************/

.homepage-form h2 {
  text-align: center;
  z-index: 0;
  margin-bottom: 30px;
}

.form-inline {
  align-items: center;
}

.col-centered {
    float: none;
    margin: 0 auto;
    width: 600px;
}

.homepage-cocktails p {
  color: #fff;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

.homepage-form input{
  width: 100%;
  font-size: 40px;
  background-color: transparent;
  outline: none;
  border: none;
  margin-bottom: 80px;
  border-radius: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
}

.homepage-form input[type=text]:focus,
.homepage-form input:focus {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.homepage-form input::placeholder {
  color: #fff;
}

.placeholder {
  color: #fff;
}

.homepage-block {
  margin-bottom: 200px;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
}

.homepage-cocktails {
  background-color: #e8b6ae;
  padding: 40px;
  border: 7px solid #ffada4;
}

.homepage-cocktails img {
  height: 300px;
  width: 320px;
  margin: 0 auto;
  z-index: 0;
}

.homepage-cocktails h3,
.homepage-cocktails p {
  padding: 10px 20px;
  color: #fff;
}

.homepage-cocktails h3 {
  font-family: 'Baloo', cursive;
  padding-bottom: 0px;
  margin-bottom: 0px;
}



.recipe-ingredient {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  margin: 0 auto;
  margin-bottom: 80px;
}

.search {
  height: 90px;
}

.border-container {
  padding: 25px 5px;
  color: #fff;
  border: 7px solid #ffada4;
}

.img-thumbnail {
  border: none;
  background-color: #ffada4;
}

.home-image {
  position: relative;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.overlay-test {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(44, 62, 80,.9);

}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.overlay-test i {
  color: #fff;
}

.overlay-test i:hover {
  color: pink;
  cursor: pointer;
}

.fa-plus {
  font-size: 80px;
}

.home-image:hover .overlay-test {
  opacity: 1;
}

/*****************
  Search Function
*****************/
#myInput {
    border-box: box-sizing;

}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;
    height: 90px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    width: 470px;
    min-height: 50px;
    max-height: 338px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background-color: #f6f6f6;
    width: 100%;
    border:none;
    text-align: left;
}

.dropdown-content button:hover {background-color: #ddd}

.show {display:block;}

/********************
    My Cocktails
*********************/

.myCocktails {
  max-width: 1450px;
  margin: 0 auto;
  color: #fff;
}

.myCocktails img {
  height: 300px;
  width: 320px;
  padding: 30px;
  border: none;
  background-color: #e8b6ae;
}

.myCocktails h3 {
  font-family: 'Baloo', cursive;
}

.myCocktails h3,
.myCocktails p {
  padding: 10px 0;
  font
}

.myCocktailBackground {
  background-color: #e8b6ae;
  margin: 30px;
  border: 4px solid #ffada4;
  border-radius: 15px;
  box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.35);
}

.image-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(241,169,160,0.7);
  z-index: 10;
}

.image-overlay p {
  padding: 0;
  z-index: 30;
  color: #fff;
  font-size: 40px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Baloo', cursive;
}

.cocktail-text {
  margin-bottom: 40px;
  color: white;
}


/********************
       Contact
*********************/

.contact-page {
  margin-top: 5%;
}

.contact-page label {
  font-size: 20px;
  padding-top: 20px;
  color: #606060;
}

.contact-box {
  background-color: #fff;
  max-width: 30%;
  padding: 20px;
  margin: 0 auto;
  float: none;
  display: block;
  height: 570px;
  clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
}

.contact-box h2 {
  text-align: center;
  color: pink;
}

.contact-focus input{
  width: 50%;
  font-size: 1.2em;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid pink;
  color: black;
  margin-top: 10px;
}

.contact-focus input[type=text]:focus,
.contact-focus input:focus {
  background-color: transparent;
  border-color: pink;
  color: black;
}

.contact-button {
  border: none;
  background-color: pink;
  color: #fff;
  padding: 10px 20px;
}

/********************
       Log-In
*********************/

.login-page {
  margin-top: 5%;
}

.login-page label {
  font-size: 20px;
  padding-top: 20px;
  color: #404040;
}

.login-box{
  background-color: #fff;
  max-width: 30%;
  padding: 40px;
  margin: 0 auto;
  float: none;
  display: block;
  height: auto;
  clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
}

.login-box h2 {
  text-align: center;
  color: pink;
}

.login-focus input{
  width: 50%;
  font-size: 1.2em;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid pink;
  color: black;
  margin-top: 10px;
}

.login-focus input[type=text]:focus,
.login-focus input:focus {
  background-color: transparent;
  border-color: pink;
  color: black;
}

.login-button {
  border: none;
  background-color: pink;
  color: #fff;
  padding: 10px 20px;

}

/********************
       Sign-Up
*********************/

.signup-page {
  margin-top: 5%;
}

.signup-page label {
  font-size: 20px;
  padding-top: 20px;
  color: #404040;
}

.signup-box{
  background-color: #fff;
  max-width: 30%;
  padding: 20px;
  margin: 0 auto;
  float: none;
  display: block;
  height: 570px;
  clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
}

.signup-box h2 {
  text-align: center;
  color: pink;
}

.signup-focus input{
  width: 50%;
  font-size: 1.2em;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid pink;
  color: black;
  margin-top: 10px;
}

.signup-focus input[type=text]:focus,
.signup-focus input:focus {
  background-color: transparent;
  border-color: pink;
  color: black;
}

.signup-button {
  border: none;
  background-color: pink;
  color: #fff;
  padding: 10px 20px;
}

/********************
     My Account
*********************/

.myAccount-edit {
 border: none;
 background-color: #AEA8D3;
 color: #fff;
 width: 80px;
 height: 40px;
 margin-left: 17px;
 margin-top: 14px;
}

.submit {
  border: none;
  background-color: pink;
  color: white;
  padding: 10px 20px;
  margin-top: 5px;
}

.account-page {
  padding: 5px 0;
}
